#sim-wrap {
    height: 655px;
    width: 300px;
    background: linear-gradient(90deg, rgba(180, 180, 180, 0) 0%, rgba(180, 180, 180, 0.6) 5%, rgba(180, 180, 180, 0.6) 95%, rgba(180, 180, 180, 0) 100%);
    font-family: Courier New, Courier, monospace;
}

#sim-parameters
{
    height: 350px;
    width: 100%;
    margin: 0 0 10px;
    position: relative;
}

#thermometer
{
    min-height: 100%; min-width: 100%;
}

#mb_therm_slider
{
    height: 320px; width: 12px;
    right: 0;
    bottom: 0;
    float: right;
    background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 66%, rgba(0, 255, 255, 1) 100%);
}

.value
{
    position: absolute;
    bottom: 0; left: 0;
}

#thermometer .value
{
    font-size: 20px;
    left: 10px;
    bottom: 50px;
}

#thermometer .value span
{
    font-weight: 600;
    color: rgba(180, 0, 0, 1);
}

.hidden { display: none; }