#sim-wrap {
    height: 655px;
    width: 400px;
    font-family: Courier New, Courier, monospace;
    position: relative;
    bottom: 7.5px;
}
#mb_btn_pin_touch
{
    margin-left: 0;
}

#sim-parameters
{
    height: 350px;
    width: 100%;
    margin: 0 0 10px;
    position: relative;
}

#sim-parameters > * { display: none; }

#sim-btns {
    position: fixed;
    bottom: 75px; left: 10px;
    width: 60px;
    display: none;
}

#sim-btns a {
    height: 54px; width: 54px;
    
    display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
    flex-direction: column;
    
    color: #336699;
	text-decoration: none;
	background-image: url('/static/img/triangle.svg');
	background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px;
    position: relative;
    z-index: 20;

    border-radius: 5px;
    margin: 3px 0;
}

#sim-btns-toggle {
    height: 40px; width: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 20px; left: 16px;
    cursor: pointer;
    background-color: rgb(68, 202, 226);
    box-sizing: border-box;
}

.hidden { display: none; }

/* Thermometer */
#thermometer
{
    min-height: 100%; min-width: 100%;
}

#thermometer .value
{
    font-size: 20px;
    position: absolute;
    color: #ffffff;
}

#thermometer .value span
{
    font-weight: 600;
}
/* END Thermometer */

/* Pins */
#pins {
    min-height: 100%; min-width: 100%;
}

label[for="mb_pin_num"] {
    margin: 0 4px;
    padding: 4px 0;
}

#pins span
{
    border-radius: 2px;
    border-color: blue;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* END Pins */

/* Accelerometer */
#accelerometer {
    min-height: 100%; min-width: 100%;
}
