body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;

}

p {
  font-size: 16px;
}

h2 {
    padding-top: 64px;
}

.image {
  padding: 10px;
}

video {
    padding-bottom: 20px;
}

.hide-blocks {
  display: none !important;
}
.hide-snippets {
  display: none !important;
}
.hide-share {
  display:none !important;
}

/* Menu Buttons */
.roundsymbol {
  width: 10rem;
  height: 10rem;
  border: 6px solid #febf2e;
  border-radius: 50%;
  margin: .2rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 4rem;
  padding-top: .3em;
  color: #336699;
  background: #FFFFFF;
}
.roundsymbol-sm {
  width: 5rem;
  height: 5rem;
  border: 6px solid #febf2e;
  border-radius: 50%;
  margin: .2rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 2rem;
  padding-top: .3em;
  color: #336699;
  background: #FFFFFF;
}

